## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
warnings.filterwarnings("ignore")

## 1. Load the Dataset

In [2]:
df = pd.read_csv('No2 dataset.csv')
df.head()

             Date_Time  NO2(GT)
0  10/03/2004 18.00.00      166
1  10/03/2004 19.00.00     1174
2  10/03/2004 20.00.00      131
3  10/03/2004 21.00.00      172
4  10/03/2004 22.00.00      131

In [3]:
# check datatype 
df.dtypes

Date_Time    object
NO2(GT)       int64
dtype: object

#### Observation:
+ We can see date column is of 'Object' datatype , so we need to convert it to "Datetime" format.

### Convert to datetime

In [4]:
# convert from object to datetime format
df['Date_Time'] = pd.to_datetime(df['Date_Time'], format= '%d/%m/%Y %H.%M.%S')

# check datatype again 
df.dtypes

Date_Time    datetime64[ns]
NO2(GT)               int64
dtype: object

### format of Datetime with some  examples

1. **1/12/2001**: %d/%m/%Y
2. **2001/12/1**: %Y/%m/%d
3. **2001-12-01**: %Y-%m-%d
4. **2001-12-01 09:00**: %Y-%m-%d %H:%M

In [5]:
# check the range of dates 

# start date
print(df['Date_Time'].min())

# end date
print(df['Date_Time'].max())

2004-03-10 18:00:00
2004-09-24 02:00:00

## 2. Engineering  Date
+ We will be extracting following features from date variable.
   + Day of the month
   + Day of the week
   + Name of the week day
   + If day is weekened or not
   + Month
   + Year
   + Week of the year 
   + Quarter
   + Differece of two dates in days & months.

### 2.1 Extracting Day, in various  format

#### 2.1.1 Extracting Day of the Month

In [6]:
# # extracting day from date ( ie 1 -31)
df['Day_of _Month'] = df['Date_Time'].dt.day

# check extracted Day column
df[['Date_Time', 'Day_of _Month']].head()

            Date_Time  Day_of _Month
0 2004-03-10 18:00:00             10
1 2004-03-10 19:00:00             10
2 2004-03-10 20:00:00             10
3 2004-03-10 21:00:00             10
4 2004-03-10 22:00:00             10

#### 2.1.2 Extracting Day of the Week

In [7]:
# # extracting day of the week from date ( ie 0 -Monday, 6 - sunday)
df['Day_of _Week'] = df['Date_Time'].dt.dayofweek

# check extracted Day of the week  column
df[['Date_Time', 'Day_of _Week']].head()

            Date_Time  Day_of _Week
0 2004-03-10 18:00:00             2
1 2004-03-10 19:00:00             2
2 2004-03-10 20:00:00             2
3 2004-03-10 21:00:00             2
4 2004-03-10 22:00:00             2

#### 2.1.3 Extracting Day of the Week Name

In [8]:
# # extracting day of the week name from date ( ie Monday - Sunday )
df['Weekday_name'] = df['Date_Time'].dt.day_name()

# check extracted Day of the week  column
df[['Date_Time', 'Weekday_name']].head()

            Date_Time Weekday_name
0 2004-03-10 18:00:00    Wednesday
1 2004-03-10 19:00:00    Wednesday
2 2004-03-10 20:00:00    Wednesday
3 2004-03-10 21:00:00    Wednesday
4 2004-03-10 22:00:00    Wednesday

#### 2.1.4 Extracting Weekend(Sat & Sun)

In [9]:
# extracting weekend info  ( ie if day= sat/sun it's 1 else 0 )
df['Is_Weekend'] = np.where(df['Weekday_name'].isin(['Saturday', 'Sunday']), 1, 0)

# check if day is weekened-1 or not -0  column
df[['Date_Time', 'Is_Weekend']].head()

            Date_Time  Is_Weekend
0 2004-03-10 18:00:00           0
1 2004-03-10 19:00:00           0
2 2004-03-10 20:00:00           0
3 2004-03-10 21:00:00           0
4 2004-03-10 22:00:00           0

### 2.2 Extracting Month

In [10]:
# # extracting Month from date ( ie 1 -12)
df['Month'] = df['Date_Time'].dt.month

# check extracted month column
df[['Date_Time', 'Month']].head()

            Date_Time  Month
0 2004-03-10 18:00:00      3
1 2004-03-10 19:00:00      3
2 2004-03-10 20:00:00      3
3 2004-03-10 21:00:00      3
4 2004-03-10 22:00:00      3

### 2.3 Extracting Year

In [11]:
#  extracting year from date 
df['Year'] = df['Date_Time'].dt.year

# check extracted Year column
df[['Date_Time', 'Year']].head()

            Date_Time  Year
0 2004-03-10 18:00:00  2004
1 2004-03-10 19:00:00  2004
2 2004-03-10 20:00:00  2004
3 2004-03-10 21:00:00  2004
4 2004-03-10 22:00:00  2004

### 2.4 Extracting Week of the Year

In [12]:
# extracting Week from date (1-52 weeks)
df['Week_of_Year'] = df['Date_Time'].dt.week

# check extracted Week column
df[['Date_Time', 'Week_of_Year']].head()

            Date_Time  Week_of_Year
0 2004-03-10 18:00:00            11
1 2004-03-10 19:00:00            11
2 2004-03-10 20:00:00            11
3 2004-03-10 21:00:00            11
4 2004-03-10 22:00:00            11

### 2.5 Extract Quarter

In [13]:
# extracting quarter from date (1-4 quarter)
df['Quarter'] = df['Date_Time'].dt.quarter

# check extracted Week column
df[['Date_Time', 'Quarter']].head()

            Date_Time  Quarter
0 2004-03-10 18:00:00        1
1 2004-03-10 19:00:00        1
2 2004-03-10 20:00:00        1
3 2004-03-10 21:00:00        1
4 2004-03-10 22:00:00        1

### 2.6 Difference Between Dates

In [14]:
df2 = pd.read_csv('agent_classification.csv', usecols = ['Application_Receipt_Date', 'Applicant_BirthDate'])
df2.head()

  Application_Receipt_Date Applicant_BirthDate
0                4/16/2007          12/19/1971
1                4/16/2007           2/17/1983
2                4/16/2007           1/16/1966
3                4/16/2007            2/3/1988
4                4/16/2007            7/4/1985

In [15]:
df2['Application_Receipt_Date'] = pd.to_datetime(df2['Application_Receipt_Date'], format='%m/%d/%Y')
df2['Applicant_BirthDate'] = pd.to_datetime(df2['Applicant_BirthDate'], format='%m/%d/%Y')

#### 2.6.1 Difference Between Dates in Number of Days

In [16]:
 # difference between two dates in - days
df2['Application_Receipt_Date'] - df2['Applicant_BirthDate']

0      12902 days
1       8824 days
2      15065 days
3       7012 days
4       7956 days
          ...
9522   14044 days
9523   18921 days
9524   12017 days
9525    7861 days
9526   11833 days
Length: 9527, dtype: timedelta64[ns]

In [17]:
# extracting days values
(df2['Application_Receipt_Date'] - df2['Applicant_BirthDate']).dt.days.head()

0    12902.0
1     8824.0
2    15065.0
3     7012.0
4     7956.0
dtype: float64

#### 2.6.2 Difference Between Dates in Number of Months

In [18]:
df2['Month_diff'] = (df2['Application_Receipt_Date'] - df2['Applicant_BirthDate'])/np.timedelta64(1, 'M')

df2['Month_diff'] = np.round(df2['Month_diff'], 0) 

df2.head()

  Application_Receipt_Date Applicant_BirthDate  Month_diff
0               2007-04-16          1971-12-19       424.0
1               2007-04-16          1983-02-17       290.0
2               2007-04-16          1966-01-16       495.0
3               2007-04-16          1988-02-03       230.0
4               2007-04-16          1985-07-04       261.0

## 3. Engineering  Time
+ we will be extracting following Time features from date.
  + Time
  + Hour
  + Minute
  + Second
  + Time elapsed in minute
  + time elapsed in second.

In [19]:
# let's create a toy data with datetime variable 

date = pd.Series(pd.date_range('2020-01-01 10:20:00', periods = 10, freq = 'H'))
df3 = pd.DataFrame(dict(date = date))

df3

                 date
0 2020-01-01 10:20:00
1 2020-01-01 11:20:00
2 2020-01-01 12:20:00
3 2020-01-01 13:20:00
4 2020-01-01 14:20:00
5 2020-01-01 15:20:00
6 2020-01-01 16:20:00
7 2020-01-01 17:20:00
8 2020-01-01 18:20:00
9 2020-01-01 19:20:00

### 3.1 Extract Time Part

In [20]:
df3['Time'] = df3['date'].dt.time
df3.head()

                 date      Time
0 2020-01-01 10:20:00  10:20:00
1 2020-01-01 11:20:00  11:20:00
2 2020-01-01 12:20:00  12:20:00
3 2020-01-01 13:20:00  13:20:00
4 2020-01-01 14:20:00  14:20:00

### 3.2 Extract Hours

In [21]:
df3['Hour'] = df3['date'].dt.hour
df3.head()

                 date      Time  Hour
0 2020-01-01 10:20:00  10:20:00    10
1 2020-01-01 11:20:00  11:20:00    11
2 2020-01-01 12:20:00  12:20:00    12
3 2020-01-01 13:20:00  13:20:00    13
4 2020-01-01 14:20:00  14:20:00    14

### 3.3 Extract Minutes

In [22]:
df3['Minute'] = df3['date'].dt.minute
df3.head()

                 date      Time  Hour  Minute
0 2020-01-01 10:20:00  10:20:00    10      20
1 2020-01-01 11:20:00  11:20:00    11      20
2 2020-01-01 12:20:00  12:20:00    12      20
3 2020-01-01 13:20:00  13:20:00    13      20
4 2020-01-01 14:20:00  14:20:00    14      20

### 3.4 Extract Seconds

In [23]:
df3['Second'] = df3['date'].dt.second
df3.head()

                 date      Time  Hour  Minute  Second
0 2020-01-01 10:20:00  10:20:00    10      20       0
1 2020-01-01 11:20:00  11:20:00    11      20       0
2 2020-01-01 12:20:00  12:20:00    12      20       0
3 2020-01-01 13:20:00  13:20:00    13      20       0
4 2020-01-01 14:20:00  14:20:00    14      20       0

### 3.5 Extract Time Differnce

In [24]:
# let's create a toy data with 2 timestamp columns
date1 = pd.Series(pd.date_range('2018-01-01 10:20:00', periods = 5, freq = 'M'))
date2 = pd.Series(pd.date_range('2020-02-01 12:10:00', periods = 5, freq = 'W'))

df4 = pd.DataFrame(dict(Start_date = date1, End_date = date2))

df4

           Start_date            End_date
0 2018-01-31 10:20:00 2020-02-02 12:10:00
1 2018-02-28 10:20:00 2020-02-09 12:10:00
2 2018-03-31 10:20:00 2020-02-16 12:10:00
3 2018-04-30 10:20:00 2020-02-23 12:10:00
4 2018-05-31 10:20:00 2020-03-01 12:10:00

#### 3.5.1 Time Differnce in Minutes

In [25]:
df4['Min_diff'] = df4['End_date'] - df4['Start_date']
df4['Min_diff'] = df4['Min_diff'] / np.timedelta64(1, 'm')
df4

           Start_date            End_date   Min_diff
0 2018-01-31 10:20:00 2020-02-02 12:10:00  1054190.0
1 2018-02-28 10:20:00 2020-02-09 12:10:00  1023950.0
2 2018-03-31 10:20:00 2020-02-16 12:10:00   989390.0
3 2018-04-30 10:20:00 2020-02-23 12:10:00   956270.0
4 2018-05-31 10:20:00 2020-03-01 12:10:00   921710.0

#### 3.5.2 Time Differnce in Seconds

In [26]:
df4['Sec_diff'] = df4['End_date'] - df4['Start_date']
df4['Sec_diff'] = df4['Sec_diff'] /np.timedelta64(1, 's')
df4

           Start_date            End_date   Min_diff    Sec_diff
0 2018-01-31 10:20:00 2020-02-02 12:10:00  1054190.0  63251400.0
1 2018-02-28 10:20:00 2020-02-09 12:10:00  1023950.0  61437000.0
2 2018-03-31 10:20:00 2020-02-16 12:10:00   989390.0  59363400.0
3 2018-04-30 10:20:00 2020-02-23 12:10:00   956270.0  57376200.0
4 2018-05-31 10:20:00 2020-03-01 12:10:00   921710.0  55302600.0

In [ ]:
### all datetime feature eng codes in a single place 

df['Day_of _Month'] = df['Date_Time'].dt.day # days (1-31)
df['Day_of _Week'] = df['Date_Time'].dt.dayofweek # weekdays (( ie 0 -Monday, 6 - sunday))
df['Weekday_name'] = df['Date_Time'].dt.day_name() # weekday name (mon-sun)
df['Is_Weekend'] = np.where(df['Weekday_name'].isin(['Saturday', 'Sunday']), 1, 0) # to check if day is sat or sun
df['Month'] = df['Date_Time'].dt.month # month (1-12)
df['Year'] = df['Date_Time'].dt.year # year(eg 2021)
df['Week_of_Year'] = df['Date_Time'].dt.week # weeks (1-52 weeks)
df['Quarter'] = df['Date_Time'].dt.quarter # quarter(1-4)
df['Time'] = df['Date_Time'].dt.time # time
df['Minute'] = df['Date_Time'].dt.minute # minute
df['Second'] = df['Date_Time'].dt.second # second